# ASSIGNMENT-1
## Name: Aaraiz Ali
## Roll no: 33564
## Days: Tusday and Wednesday

# Topic: print()

In [11]:
# 1) Using the python print function print any string value, integer value, boolean value, float value in single print command


print("My name is Aaraiz", end="|")
print(19, end = "|")
print(True, end= "|")
print(15.21)

My name is Aaraiz|19|True|15.21

In [9]:
# 2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

print("Aaraiz", end="-")
print(30, end= "-")
print(False, end= "-")
print(19.20)

Aaraiz-30-False-19.2

In [12]:
# 3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
# But every value must be space separated and in single line

print("Munraiz", end= " ")
print(20, end= " ")
print(True, end= " ")
print(15.30, end= " ")

Munraiz 20 True 15.3

# 4) Can a python print function take no value to print???

yes

# TOPIC :Variables in Python Operators

In [44]:
# 5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
# He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

# Note: Create variables from above text and also assign values from the text. 


name = "Mr.Ahmed" 
age = 30 
profession = "Lawyer"
Education = "Bachelors in Law"
passout_year = 2005
working_organization = "The Himalya Associates"
joining_year = 2015
height = 5.10
mr_ahmed_weight_grams = 70600
monthly_income_pkr = 200000

In [45]:
# 6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value 
# and then subtract it from his passout year

current_year = 2024

job_duration = current_year - passout_year

print(f"Mr.Ahmed has completed {job_duration} years after his bachelor degrees")

Mr.Ahmed has completed 19 years after his bachelor degrees

In [46]:
# <!-- 7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'.
# Create necesary variables and print the correct number of years in working in the firm -->


working_from = current_year - joining_year

print(f"Mr.Ahmed has been working from {working_from} years with law firm(The Himalya Associates) ")

Mr.Ahmed has been working from 9 years with law firm(The Himalya Associates)

In [47]:
# 8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars. 

exchange_rate = 280 

monthly_income_usd = monthly_income_pkr / exchange_rate 

print(f"Mr. Ahmed's monthly income in dollars is: ${monthly_income_usd:.2f}")

Mr. Ahmed's monthly income in dollars is: $714.29

In [48]:
# 9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer.
# print the income in integer type value

monthly_income_usd = int(monthly_income_usd)

print(f"Mr. Ahmed's monthly income in dollars(as integer) {monthly_income_usd}")

Mr. Ahmed's monthly income in dollars(as integer) 714

In [50]:
# 10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

print(f"Type of Mr. Ahmed's weight: {type(mr_ahmed_weight)}")

mr_ahmed_weight_kg = mr_ahmed_weight_grams // 1000

print(f"Mr. Ahmed's weight in kg(in integer): {mr_ahmed_weight_kg}")

Type of Mr. Ahmed's weight: <class 'int'>
Mr. Ahmed's weight in kg(in integer): 70

In [41]:
#11) print the year of birth of Mr. Ahmed

birth_year = current_year - age
birth_year

1994

In [51]:
# 12) Can Rs. 100 be divided equally among 6 students?
# HINT: % operator (modulo)

total_amount = 100
students = 6

if total_amount % students == 0:
    print("Yes, Rs. 100 can be divided equally among 6 students ")

else:
    print("No, Rs. 100 cannot be divided equally among 6 students")

No, Rs. 100 cannot be divided equally among 6 students

In [ ]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0